.heroImageWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    transition: all 500ms;
}

.btnTxt {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
}

.flipHorizontally {
    transform: scaleX(-1);
    transition: opacity 200ms;
}

.scrollIndicator {
    padding: 12px;
    animation: bounce 1s ease-in-out infinite;
    bottom: 16px;
    transform: translate(-50%, 0);
    color: #fff;
    content: '╲╱';
    font-size: 1rem;
    height: 4rem;
    left: 50%;
    letter-spacing: -1px;
    line-height: 4rem;
    opacity: 0.8;
    position: fixed;
    text-align: center;
    width: 6rem;
    z-index: 5;
    transition: opacity 200ms;
}

@media (min-width: 1280px) {
    .scrollIndicator {
        display: none;
    }
}

@keyframes bounce {
    50% {
        transform: translate(-50%, -25%);
    }
}

.shimmer {
    position: absolute;
    top: -100%;
    left: -100%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 40%,
        rgba(60, 60, 60, 0.7) 60%,
        rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 2s infinite;
    transform: rotate(90deg);
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
