---
import HeroImage from '@components/molecules/heroImage/HeroImage'
import Layout from '../layouts/Layout.astro'
import ContentManager from '@components/organisms/ContentManager'
import profile_img from '@assets/profile.jpg'
---

<Layout
    title="Andra Ghitulescu - Frontend Software Engineer"
    imagePath={profile_img.src}
>
    <main
        class="flex gap-8 2xl:gap-12 w-full flex-col xl:flex-row xl:h-dvh xl:p-[24px] 2xl:p-[40px]"
    >
        <div class="w-full h-svh xl:h-auto xl:w-[60%] relative">
            <HeroImage client:only />
        </div>
        <div
            class="w-full xl:w-[40%] overflow-x-hidden xl:overflow-y-auto scrollbar-style"
            id="scrollable"
        >
            <ContentManager client:load />
        </div>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        gap: 0px;
    }

    .scrollbar-style {
    }
    .scrollbar-style::-webkit-scrollbar-thumb {
        background: #343434;
        border-radius: 10px;
    }
    .scrollbar-style::-webkit-scrollbar {
        width: 4px;
        background-color: #1f1f1f; /* or add it to the track */
    }
</style>
