---
import HeroImage from '@components/molecules/heroImage/HeroImage'
import Layout from '../layouts/Layout.astro'
import ContentManager from '@components/organisms/ContentManager'
---

<Layout title="Welcome, I'm Andra!">
    <main class="flex gap-8 h-dvh w-full max-w-[2000px]">
        <div class="w-[60%] relative">
            <HeroImage client:only />
        </div>
        <div class="w-[40%] overflow-x-hidden overflow-y-auto scrollbar-style">
            <ContentManager client:load />
        </div>
    </main>
</Layout>

<style>
    main {
        padding: 40px;
        margin: auto;
    }
    .scrollbar-style {
    }
    .scrollbar-style::-webkit-scrollbar-thumb {
        background: #343434;
        border-radius: 10px;
    }
    .scrollbar-style::-webkit-scrollbar {
        width: 4px;
        background-color: #1f1f1f; /* or add it to the track */
    }
</style>
