---

import HeroImage from '@components/molecules/heroImage/HeroImage'
import Layout from '../layouts/Layout.astro'
import ContentManager from '@components/organisms/ContentManager'
---

<Layout title="Welcome, I'm Andra!">
    <main class="flex gap-8 h-dvh w-full max-w-[2000px]">
        <div class="w-[60%]">
            <HeroImage/></div>
        <div class="w-[40%] overflow-y-auto">
            <ContentManager />
        </div>
    </main>
</Layout>

<style>
    main {
        padding: 40px;
        margin: auto;
    }
</style>
