---
import HeroImage from '@components/molecules/heroImage/HeroImage'
import Layout from '../layouts/Layout.astro'
import ContentManager from '@components/organisms/ContentManager'
import profile_img from '@assets/profile.jpg'
---

<Layout
    title="Andra Ghitulescu - Frontend Software Engineer"
    imagePath={profile_img.src}
>
    <main
        class="flex gap-8 2xl:gap-12 w-full flex-col xl:flex-row xl:h-dvh xl:p-[24px] 2xl:p-[40px]"
    >
        <div class="w-full h-svh xl:h-auto xl:w-[60%] relative">
            <div class="spinner"><div class="loader"></div></div>
            <HeroImage client:only />
        </div>
        <div
            class="w-full xl:w-[40%] overflow-x-hidden xl:overflow-y-auto scrollbar-style"
            id="scrollable"
        >
            <ContentManager client:load />
        </div>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        gap: 0px;
    }

    .scrollbar-style {
    }
    .scrollbar-style::-webkit-scrollbar-thumb {
        background: #343434;
        border-radius: 10px;
    }
    .scrollbar-style::-webkit-scrollbar {
        width: 4px;
        background-color: #1f1f1f; /* or add it to the track */
    }
    .spinner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #181818;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* loader curtesy of https://cssloaders.github.io/ */

    .loader {
        color: #ffffff;
        font-size: 45px;
        text-indent: -9999em;
        overflow: hidden;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        position: relative;
        transform: translateZ(0);
        animation:
            mltShdSpin 1.7s infinite ease,
            round 1.7s infinite ease;
    }

    @keyframes mltShdSpin {
        0% {
            box-shadow:
                0 -0.83em 0 -0.4em,
                0 -0.83em 0 -0.42em,
                0 -0.83em 0 -0.44em,
                0 -0.83em 0 -0.46em,
                0 -0.83em 0 -0.477em;
        }
        5%,
        95% {
            box-shadow:
                0 -0.83em 0 -0.4em,
                0 -0.83em 0 -0.42em,
                0 -0.83em 0 -0.44em,
                0 -0.83em 0 -0.46em,
                0 -0.83em 0 -0.477em;
        }
        10%,
        59% {
            box-shadow:
                0 -0.83em 0 -0.4em,
                -0.087em -0.825em 0 -0.42em,
                -0.173em -0.812em 0 -0.44em,
                -0.256em -0.789em 0 -0.46em,
                -0.297em -0.775em 0 -0.477em;
        }
        20% {
            box-shadow:
                0 -0.83em 0 -0.4em,
                -0.338em -0.758em 0 -0.42em,
                -0.555em -0.617em 0 -0.44em,
                -0.671em -0.488em 0 -0.46em,
                -0.749em -0.34em 0 -0.477em;
        }
        38% {
            box-shadow:
                0 -0.83em 0 -0.4em,
                -0.377em -0.74em 0 -0.42em,
                -0.645em -0.522em 0 -0.44em,
                -0.775em -0.297em 0 -0.46em,
                -0.82em -0.09em 0 -0.477em;
        }
        100% {
            box-shadow:
                0 -0.83em 0 -0.4em,
                0 -0.83em 0 -0.42em,
                0 -0.83em 0 -0.44em,
                0 -0.83em 0 -0.46em,
                0 -0.83em 0 -0.477em;
        }
    }

    @keyframes round {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
