---
import GithubIcon from '@components/atoms/icons/github'
import Insta from '@components/atoms/icons/insta'
import WebsiteIcon from '@components/atoms/icons/website'
import XIcon from '@components/atoms/icons/x'

interface Props {
    links: {
        website?: string
        instagram?: string
        twitter?: string
        github?: string
    }
}

const { links } = Astro.props
---

<div class="flex gap-2">
    {
        links.website && (
            <a
                href={links.website}
                target="_blank"
                rel="noopener noreferrer"
                class="w-9 h-9 flex items-center justify-center rounded bg-bg-color-default hover:text-accent-color transition-colors"
            >
                <WebsiteIcon size={18} />
            </a>
        )
    }
    {
        links.instagram && (
            <a
                href={links.instagram}
                target="_blank"
                rel="noopener noreferrer"
                class="w-9 h-9 flex items-center justify-center rounded bg-bg-color-default hover:text-accent-color transition-colors"
            >
                <Insta size={18} />
            </a>
        )
    }
    {
        links.twitter && (
            <a
                href={links.twitter}
                target="_blank"
                rel="noopener noreferrer"
                class="w-9 h-9 flex items-center justify-center rounded bg-bg-color-default hover:text-accent-color transition-colors"
            >
                <XIcon size={18} />
            </a>
        )
    }
    {
        links.github && (
            <a
                href={links.github}
                target="_blank"
                rel="noopener noreferrer"
                class="w-9 h-9 flex items-center justify-center rounded bg-bg-color-default hover:text-accent-color transition-colors"
            >
                <GithubIcon size={18} />
            </a>
        )
    }
</div>
