.wrapper {
    width: calc(200% + 24px);
}

.switchWrapper {
    width: 40%;
    max-width: 800px;
    top: 40px;
    margin-left: -24px;
    padding-right: 48px;
    background-color: transparent;
    height: 140px;
}

@media (max-width: 1279px) {
    .switchWrapper {
        width: 100%;
        top: 24px;
        max-width: 100%;
        background-color: transparent;
        height: 140px;
        padding-right: 0px;
    }
}
.switchSubWrapper {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 16px;
    background: linear-gradient(#1f1f1f, #1f1f1f, #1f1f1f, #1f1f1f00);
}
