.wrapper {
    width: calc(200% + 24px);
}

.switchWrapper {
    width: 40%;
    top: 24px;
    margin-left: -24px;
    padding-right: 0px;
    background-color: transparent;
    height: 140px;
}

@media (max-width: 1279px) {
    .switchWrapper {
        width: 100%;
        top: 0px;
        max-width: 100%;
        background-color: transparent;
        height: 140px;
        padding-right: 0px;
    }
}

@media (max-width: 640px) {
    .switchWrapper {
        margin-left: -1rem;
        padding-right: 0;
    }
}

.switchSubWrapper {
    padding-left: 24px;
    padding-right: 56px;
    padding-bottom: 32px;
    padding-top: 16px;
    background: var(--bg-image-granular);
}

@media (max-width: 1536px) {
    .switchSubWrapper {
        padding-right: 48px;
        padding-top: 0px;
    }
}

@media (max-width: 1279px) {
    .switchSubWrapper {
        padding-right: 16px;
        height: 100px;
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
    }
}

@media (max-width: 640px) {
    .switchSubWrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
